{%- liquid
  assign stone_heading = section.settings.heading | strip
  assign stone_label = section.settings.label | strip
  assign stone_body = section.settings.body
  assign stone_body_plain = stone_body | strip_html | strip
  assign stone_surface_style = section.settings.surface_style | default: 'outline'

  capture stone_section_content
    echo '<div class="stone-utility-notice stone-utility-notice--'
    echo stone_surface_style | escape
    echo '">'

    if stone_label != blank
      echo '<p class="stone-utility-notice__label">'
      echo stone_label | escape
      echo '</p>'
    endif

    if stone_body_plain != blank
      echo '<div class="stone-utility-notice__body stone-richtext-flow rte">'
      echo stone_body
      echo '</div>'
    else
      echo '<p class="stone-utility-notice__empty">'
      echo 'sections.stone_utility_notice.empty' | t
      echo '</p>'
    endif

    echo '</div>'
  endcapture

  render 'stone-section-shell',
    section: section,
    heading: stone_heading,
    content: stone_section_content,
    width: section.settings.width_mode,
    spacing: section.settings.spacing_mode,
    shell_class: 'stone-utility-notice-shell'
-%}

{% schema %}
{
  "name": "t:sections.stone_utility_notice.name",
  "tag": "section",
  "class": "shopify-section--stone-utility-notice",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.stone_utility_notice.settings.heading.label",
      "info": "t:sections.stone_utility_notice.settings.heading.info"
    },
    {
      "type": "text",
      "id": "label",
      "label": "t:sections.stone_utility_notice.settings.label.label",
      "info": "t:sections.stone_utility_notice.settings.label.info"
    },
    {
      "type": "richtext",
      "id": "body",
      "label": "t:sections.stone_utility_notice.settings.body.label",
      "info": "t:sections.stone_utility_notice.settings.body.info"
    },
    {
      "type": "select",
      "id": "surface_style",
      "label": "t:sections.stone_utility_notice.settings.surface_style.label",
      "info": "t:sections.stone_utility_notice.settings.surface_style.info",
      "default": "outline",
      "options": [
        {
          "value": "outline",
          "label": "t:sections.stone_utility_notice.settings.surface_style.options.outline.label"
        },
        {
          "value": "soft",
          "label": "t:sections.stone_utility_notice.settings.surface_style.options.soft.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "width_mode",
      "label": "t:sections.stone_utility_notice.settings.width_mode.label",
      "info": "t:sections.stone_utility_notice.settings.width_mode.info",
      "default": "standard",
      "options": [
        {
          "value": "narrow",
          "label": "t:sections.stone_utility_notice.settings.width_mode.options.narrow.label"
        },
        {
          "value": "standard",
          "label": "t:sections.stone_utility_notice.settings.width_mode.options.standard.label"
        },
        {
          "value": "wide",
          "label": "t:sections.stone_utility_notice.settings.width_mode.options.wide.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "spacing_mode",
      "label": "t:sections.stone_utility_notice.settings.spacing_mode.label",
      "info": "t:sections.stone_utility_notice.settings.spacing_mode.info",
      "default": "standard",
      "options": [
        {
          "value": "compact",
          "label": "t:sections.stone_utility_notice.settings.spacing_mode.options.compact.label"
        },
        {
          "value": "standard",
          "label": "t:sections.stone_utility_notice.settings.spacing_mode.options.standard.label"
        },
        {
          "value": "relaxed",
          "label": "t:sections.stone_utility_notice.settings.spacing_mode.options.relaxed.label"
        }
      ]
    }
  ]
}
{% endschema %}
