{%- liquid
  assign stone_heading = section.settings.heading | strip
  assign stone_label = section.settings.label | strip
  assign stone_rule_style = section.settings.rule_style | default: 'line'
  assign stone_inset_mode = section.settings.inset_mode | default: 'none'

  capture stone_section_content
    echo '<div class="stone-utility-divider-band stone-utility-divider-band--'
    echo stone_rule_style | escape
    echo ' stone-utility-divider-band--'
    echo stone_inset_mode | escape
    echo '">'

    if stone_label != blank
      echo '<p class="stone-utility-divider-band__label">'
      echo stone_label | escape
      echo '</p>'
    endif

    echo '<div class="stone-utility-divider-band__rule" aria-hidden="true"></div>'
    echo '</div>'
  endcapture

  render 'stone-section-shell', section: section, heading: stone_heading, content: stone_section_content, width: section.settings.width_mode, spacing: section.settings.spacing_mode, shell_class: 'stone-utility-divider-band-shell'
-%}

{% schema %}
{
  "name": "t:sections.stone_utility_divider_band.name",
  "tag": "section",
  "class": "shopify-section--stone-utility-divider-band",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.stone_utility_divider_band.settings.heading.label",
      "info": "t:sections.stone_utility_divider_band.settings.heading.info"
    },
    {
      "type": "text",
      "id": "label",
      "label": "t:sections.stone_utility_divider_band.settings.label.label",
      "info": "t:sections.stone_utility_divider_band.settings.label.info"
    },
    {
      "type": "select",
      "id": "rule_style",
      "label": "t:sections.stone_utility_divider_band.settings.rule_style.label",
      "info": "t:sections.stone_utility_divider_band.settings.rule_style.info",
      "default": "line",
      "options": [
        {
          "value": "line",
          "label": "t:sections.stone_utility_divider_band.settings.rule_style.options.line.label"
        },
        {
          "value": "soft",
          "label": "t:sections.stone_utility_divider_band.settings.rule_style.options.soft.label"
        },
        {
          "value": "strong",
          "label": "t:sections.stone_utility_divider_band.settings.rule_style.options.strong.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "inset_mode",
      "label": "t:sections.stone_utility_divider_band.settings.inset_mode.label",
      "info": "t:sections.stone_utility_divider_band.settings.inset_mode.info",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "t:sections.stone_utility_divider_band.settings.inset_mode.options.none.label"
        },
        {
          "value": "inline",
          "label": "t:sections.stone_utility_divider_band.settings.inset_mode.options.inline.label"
        },
        {
          "value": "deep",
          "label": "t:sections.stone_utility_divider_band.settings.inset_mode.options.deep.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "width_mode",
      "label": "t:sections.stone_utility_divider_band.settings.width_mode.label",
      "info": "t:sections.stone_utility_divider_band.settings.width_mode.info",
      "default": "standard",
      "options": [
        {
          "value": "narrow",
          "label": "t:sections.stone_utility_divider_band.settings.width_mode.options.narrow.label"
        },
        {
          "value": "standard",
          "label": "t:sections.stone_utility_divider_band.settings.width_mode.options.standard.label"
        },
        {
          "value": "wide",
          "label": "t:sections.stone_utility_divider_band.settings.width_mode.options.wide.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "spacing_mode",
      "label": "t:sections.stone_utility_divider_band.settings.spacing_mode.label",
      "info": "t:sections.stone_utility_divider_band.settings.spacing_mode.info",
      "default": "standard",
      "options": [
        {
          "value": "compact",
          "label": "t:sections.stone_utility_divider_band.settings.spacing_mode.options.compact.label"
        },
        {
          "value": "standard",
          "label": "t:sections.stone_utility_divider_band.settings.spacing_mode.options.standard.label"
        },
        {
          "value": "relaxed",
          "label": "t:sections.stone_utility_divider_band.settings.spacing_mode.options.relaxed.label"
        }
      ]
    }
  ]
}
{% endschema %}
